#pantalla2 {
	display: none;
}
#pantallaMedicamentos {
	display: none;
}
.pantalla1 h2,
h3,
h4 {
	display: inline-block;
	color: white;
	font-family: "Poppins", sans-serif;
}
h2 {
	color: white;
	font-size: 30px;
	padding-top: 5vh;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: white;
}
.form-check {
	display: inline-block;
}

#divMedicamentos {
	display: none;
}

#detalleGlucemia {
	display: none;
}
#detallePresion {
	display: none;
}
#detalleMedicamentos {
	display: none;
}
#medicionGlucemia {
	display: none;
}
#medicionPresion {
	display: none;
}
#medicamentoATildar {
	display: none;
}

#agregarLista {
	background-color: #01fae1;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 0px;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 20px;
	right: 5vw;
}
#agregarLista p {
	font-size: 50px;
	line-height: 0;
	padding-top: 10%;
}
#detalleMedicamentos p {
	display: inline-block;
	margin: 0;
}

.colorpastillas {
	display: inline-block;
	height: 20px;
	width: 40px;
	border-radius: 10px;
	border: 1px solid white;
	margin-right: 5px;
	margin-left: 5px;
}

@media only screen and (min-width: 500px) {
	.container {
		width: 500px;
	}
	#agregarLista {
		right: auto;
		margin-left: 180px;
	}
}

section {
	min-height: 100vh;
}
.pan1 {
	text-align: center;
}

.form-check-input {
	background-color: #038c8c;
	border-color: white;
}
.form-check-input:checked {
	background-color: #04bfad;
	border-color: #038c8c;
}
#medicamentoATildar .form-check-input {
	background-color: #f6f6f6;
	border-color: white;
	margin-right: 5px;
}

#medicamentoATildar .form-check-input:checked {
	background-color: #04bfad;
	border-color: #038c8c;
}

#esp {
	margin-top: 8vh;
	margin-bottom: 8vh;
}
.pantalla1,
.pantalla2,
.pantallamed {
	background-image: url(imagenes/Fondo.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position-x: center;
	background-size: cover top;
	text-align: center;
}
.pantalla2 {
	background-color: #04bfad;
}
.btn-primary {
	background-color: #04bfad;
	border-color: #04bfad;
}
input {
	cursor: pointer;
	text-align: center;
}
li {
	list-style: none;
}
.pantallamed li {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}
#detalleMedicamentos li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.pantallamed p {
	color: white;
}
#divNombreMedicamentos h3 {
	text-align: right;
	padding-right: 20px;
	width: 30px;
}
.inputcolor {
	margin-left: 15px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.list-group {
	border-radius: 0.75em;
	text-align: left;
}
.list-group-item {
	background-color: #243e73;
}
.list-group-item p {
	color: white;
}
.list-group-item-action:focus {
	background-color: #079dd9;
}
.list-group-item-action:active {
	background-color: #6cced9;
}
.modal-content {
	background-color: #6f81a6;
}
.modal-header h5 {
	color: white;
}
.modal-body {
	text-align: left;
}
.presionyglucemia {
	width: 50%;
	margin-top: 0;
	margin-bottom: auto;
	display: inline-block;
}
.medicamentosypastillas {
	width: 50%;
	margin-top: 0;
	margin-bottom: auto;
	display: inline-block;
}
#listaDeMediciones button {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-bottom: 10px;
	border-radius: 15px;
}
#listaDeMediciones button:hover {
	background-color: #038c8c;
	z-index: 0;
}
#listaDeMediciones button h5 {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
hr {
	width: 100%;
	color: white;
	margin: 0;
	margin-bottom: 10px;
}
.pantalla2 p {
	color: white;
}
#valorGlucemia,
#valorPresion {
	width: 10vh;
}
#medicionGlucemia h4,
#medicionPresion h4 {
	width: 100px;
}
